
// Backgrounds 
$color__background_header_top: #1a1a1a;
$color__background_header_middle: #FFFFFF;
$color__background_header_bottom: #f5f5f6;
$color__background_prefooter: #222222;
$color__background_footer: #1a1a1a;

// Borders
$color__border_header_top: #aad500;
$color__border_header_middle_bottom: #eee;
$color__border_slider-top: #8fca00;

//#eee


