
// Backgrounds 
$color__background_header_top: #1a1a1a;
$color__background_header_middle: #FFFFFF;
$color__background_header_bottom: #f5f5f6;
$color__background_prefooter: #222222;
$color__background_footer: #1a1a1a;

// Borders
$color__border_header: #aad500;
$color__border_farabella: #8fca00;
//#eee


